/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/**
 *  Main colors used in the game
 */
:root {
    --blue: #38598b;
    --white:#e7eaf6
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background: var(--blue);
}

span {
    margin-left: 2em;
}

.instructions {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    margin-left: calc((100% - 400px)/2);
    margin-right: calc((100% - 400px)/2);
    margin-top: 3%;
}

.instructions > h1 {
    text-align: center;
}

.instructions > h2 {
    text-align: center;
    margin-top: 5%;
    text-decoration: underline;
}

.instructions > p {
    text-align: justify;
    margin: 3% 3%; 
}

.results {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    width: 400px;
}

.time,.moves {
    width: 40%;
    padding: 0.7em;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    margin: 1em; 
}

.wrapper{
    flex-direction: row;
    padding: 25px;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    align-content: space-between;
}

.card {
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transform-style: preserve-3d;

    height: calc(100% / 4);
    width: calc(100% / 4); 

    padding: 0.5em;
}

.card img {

    height: calc(100%);
    width: calc(100%);
}

.btn {
    display: flex;
    flex-direction: row;
    width: 400px;
    border-radius: 10px;
    background: var(--white);
    margin: 1em 1em; 
    justify-content: center;
}

.btn1 input,.btn2 input {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 0.7em;
    margin: 1em;
    border: 1px solid black;
    border-radius: 10px;
    border: 0px solid #000;	
}

.btn1:active input, .btn2:active input {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* Initiate Auto-Pulse animations */
.pulse-button {
	animation: borderPulse 1000ms infinite ease-out, infinite ease-in;
}

/* Declare border pulse animation */
@keyframes borderPulse {
  0% {
    box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255,.4), 0px 0px 0px 0px rgba(255,255,255,1);
  }
  100% {
    box-shadow: inset 0px 0px 0px 3px rgba(117, 117, 255,.2), 0px 0px 0px 10px rgba(255,255,255,0);
  }
}

footer {
    margin-top: 6%;
}
footer > a {
    color: var(--white);
}

footer img {
    width: 60px;
    height: 60px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .board {
        height: 300px;
        width: 300px;
    }

    .header {
        width: 300px;
    }

    .time,.moves {
        font-size: 0.8em;
        padding: 0.6em;
        margin: 0.7em; 
    }

    .instructions {
        width: 300px;
        margin-left: calc((100% - 300px)/2);
        margin-right: calc((100% - 300px)/2);
    }

    .instructions > h1 {
        font-size: 1.5em;
    }

    .instructions > h2 {
        font-size: 1em;
      
    }
    
    .instructions > p {
        font-size: 0.8em;
    }

    .btn {
        width: 300px;
        margin: 0.7em 0.7em; 
    }

    .btn1 input,.btn2 input {
        font-size: 0.8em;
        padding: 0.6em;
        margin: 0.7em;
    }

    footer img {
        width: 50px;
    }
}

/* Extra small devices (phones, 350px and down) */
@media only screen and (max-width: 350px) {

    .wrapper {
        padding: 10px;
    }
    
    .board {
        height: 280px;
        width: 280px;
    }
    
    .instructions {
        width: 280px;
        margin-left: calc((100% - 280px)/2);
        margin-right: calc((100% - 280px)/2);
    }
      .time,.moves {
        width: 30%;
    }

    footer img {
        width: 30px;
    }
    
}