/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "compass/css3";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #6563FF;
}

span {
  margin-left: 2em;
}

.header {
  display: flex;    
  flex-direction: rows;
  justify-content: center;
  width: 400px;
}

.time,.moves {
    width: 40%;
    padding: 0.7em;
    border-radius: 10px;
    background: #F8F8F8;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    margin: 1em; 
}

.wrapper{
  flex-direction: rows;
  padding: 25px;
  border-radius: 10px;
  background: #F8F8F8;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  align-content: space-between;
}

.card {
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px); 
    padding: 0.5em;
}

.card img {
    height: calc(100% - 10px);
    width: calc(100%  - 10px);  
}

.card-view {
    transition-duration: 2s;
    transform: rotateY(180deg);
    transform-style: preserve-3d; 
}

.card-hide {
    transition-duration: 2s;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.btn {
    display: flex;
    flex-direction: row;
    width: 400px;
    border-radius: 10px;
    background: #F8F8F8;
    margin: 1em 1em; 
    justify-content: center;
}

.btn1 input,.btn2 input {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 0.7em;
    margin: 1em;
    border: 1px solid black;
    border-radius: 10px;
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24); */
    border: 0px solid #000;	
}

.btn1:active input, .btn2:active input {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* Initiate Auto-Pulse animations */
.pulse-button {
	animation: borderPulse 1000ms infinite ease-out, infinite ease-in;
}

/* Declare border pulse animation */
@keyframes borderPulse {
  0% {
    box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255,.4), 0px 0px 0px 0px rgba(255,255,255,1);
  }
  100% {
    box-shadow: inset 0px 0px 0px 3px rgba(117, 117, 255,.2), 0px 0px 0px 10px rgba(255,255,255,0);
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .board {
        height: 300px;
        width: 300px;
      }

      .header {
        width: 300px;
      }

      .btn {
        width: 300px;
    }

    .time,.moves {
        font-size: 0.8em;
        padding: 0.6em;
        margin: 0.7em; 
    }

    btn {
        margin: 0.7em 0.7em; 
    }
    .btn1 input,.btn2 input {
        font-size: 0.8em;
        padding: 0.6em;
        margin: 0.7em;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 350px) {

    .wrapper {
        padding: 10px;
    }
    .board {
        height: 280px;
        width: 280px;
      }
}